/* Navbar.css */

/* Importing the Open Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Navbar Styles */
.navbar {
    padding: 12px 24px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif; /* Updated to Open Sans font */
}

.navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: #007bff;
    letter-spacing: 0.5px;
}
.navbar-logo {
    height: 40px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}


.navbar-brand:hover {
    color: #0056b3;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    padding: 10px 18px;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* Profile Section Styles */
.navbar-nav.profile {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #007bff;
    transition: border-color 0.3s;
}

.profile-pic:hover {
    border-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
    .navbar-nav .nav-item .nav-link {
        padding: 10px 0;
    }

    .navbar-nav.profile {
        margin-left: 0;
        justify-content: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 22px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
}
